In [1]:
import os
import shutil
import pandas as pd
import numpy as np
from args_jupyter import args, createfolder, make_path
from data_wrangler_jupyter import extract_original_data, output_files, check_data_and_create_miss_data, overall_of_data

def checkpath(path):
    if os.path.exists(path):
        print('Path exists!')
    else:
        print('Not exists!')

In [2]:
args.radar_folder = '/home/jack/Desktop/ty_research/01_Radar_data'
args.ty_list = make_path('/home/jack/Onedrive/01_IIS/04_TY_research/ty_list.xlsx')
args.sta_list = make_path('/home/jack/Onedrive/01_IIS/04_TY_research/sta_list_all.xlsx')
args.TW_map_file = make_path('/home/jack/Onedrive/01_IIS/04_TY_research/01_Radar_data/TW_shapefile/gadm36_TWN_2')
args.fortran_code_folder = 'fortran_codes/'

args.compressed_files_folder = make_path('01_compressed_files', args.radar_folder)
args.files_type = 'pandas'
args.files_folder = make_path('02_pandas_files', args.radar_folder)
args.figures_folder = make_path('03_figures', args.radar_folder)
args.compression = 'bz2'
args

{'study_area': 'Taipei',
 'radar_folder': '/home/jack/Desktop/ty_research/01_Radar_data',
 'I_lat_l': 23.9125,
 'I_lat_h': 26.15,
 'I_lon_l': 120.4,
 'I_lon_h': 122.6375,
 'F_lat_l': 24.6625,
 'F_lat_h': 25.4,
 'F_lon_l': 121.15,
 'F_lon_h': 121.8875,
 'origin_lat_l': 20,
 'origin_lat_h': 27,
 'origin_lon_l': 118,
 'origin_lon_h': 123.5,
 'res_degree': 0.0125,
 'ty_list': '/home/jack/Onedrive/01_IIS/04_TY_research/ty_list.xlsx',
 'sta_list': '/home/jack/Onedrive/01_IIS/04_TY_research/sta_list_all.xlsx',
 'TW_map_file': '/home/jack/Onedrive/01_IIS/04_TY_research/01_Radar_data/TW_shapefile/gadm36_TWN_2',
 'fortran_code_folder': 'fortran_codes/',
 'original_files_folder': '/home/jack/ssd/research/origianal_radar_data_2012_2018',
 'compressed_files_folder': '/home/jack/Desktop/ty_research/01_Radar_data/01_compressed_files',
 'files_folder': '/home/jack/Desktop/ty_research/01_Radar_data/02_pandas_files',
 'figures_folder': '/home/jack/Desktop/ty_research/01_Radar_data/03_figures',
 'I_shape': [180, 180],
 'F_shape': [60, 60],
 'origin_size': [561, 441],
 'I_x_left': 193,
 'I_x_right': 372,
 'I_y_low': 314,
 'I_y_high': 493,
 'files_type': 'pandas',
 'compression': 'bz2'}

In [3]:
checkpath(args.ty_list)
checkpath(args.files_folder)
checkpath(args.TW_map_file+'.prj')

Path exists!
Path exists!
Path exists!

In [4]:
if not os.path.exists(args.compressed_files_folder):
    extract_original_data()

In [5]:
if not os.path.exists(args.files_folder):
    output_files()

In [6]:
print(check_data_and_create_miss_data())

({'SAOLA': 391, 'SOULIK': 307, 'TRAMI': 217, 'KONG-REY': 181, 'USAG': 289, 'FITOW': 253, 'MATMO': 271, 'CHAN-HOM': 163, 'SOUDELOR': 433, 'DUJUAN': 289, 'MALAKAS': 253, 'MEGI': 325, 'MARIA': 229}, {}, {'SAOLA': 391, 'SOULIK': 307, 'TRAMI': 217, 'KONG-REY': 181, 'USAG': 289, 'FITOW': 253, 'MATMO': 271, 'CHAN-HOM': 163, 'SOUDELOR': 433, 'DUJUAN': 289, 'MALAKAS': 253, 'MEGI': 325, 'MARIA': 229})

In [7]:
measures = overall_of_data()
measures

                 QPE         QPF        RAD
Measures
max       199.500000  199.750000  88.100000
min         0.000000    0.000000   0.000000
mean        1.121653    2.562338   9.143413
std         3.858351    6.106334  13.539325

In [ ]:
measures